#jumbo {
    background: rgb(255, 255, 255);
    margin: 3% 10%;
    position: relative;
    padding: 3rem 2rem
}

html, body {
    height: 100%;
}

#process {
    padding-top: 5px;
    font-size: 25px;
    text-align: center;
}

#background {
    background-image: url(../pictures/Ready.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-color: #99d1ff;
    background-size: cover;
    height: 100vh;
}

#restartButtonParent {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px 10px;
} 

.show {
    height: 25vw;
} 

img {
    height: 100%;
    max-height: 100%;
    max-width: 100%; 
}

#hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#result {
    display: none;
}

#quote {
    font-weight: 700;
    font-style: italic;
    font-size: 3.25vw;
    text-align: center;
}

#questionDisplay {
    font-size: 30px;
    font-weight: 500;
}

#emphasize {
    font-weight: 700;
    font-size: 80px;
}

.smaller {
    font-size: 30px;
}

#restartButton {
    background-color: #CCCC99;
}

div .buttonChoice {
    color: rgb(255, 255, 255);
    width: 100%;
    max-width: 120px;
    min-width: 25px;
    font-size: 1.8vw;
    padding-top: 0.375rem;
    padding-right: 0.4rem;
    padding-bottom: 0.375rem;
    padding-left: 0.4rem;
    margin: 10px auto;
}

.scale-up {
  transform: scale(1.2);
}
.scale-down {
  transform: scale(1);
}

@media screen and (min-width: 1123px) {
  div .buttonChoice {
     font-size: 20px;
  }
  #quote{
      font-size: 25px;
  }
}