.jumbotron {
    background: white;
    margin: 5% 10%;
    position: relative;
}

#h2 {
    font-family: 'Chivo';
}

.button {
    font-family: 'Chivo';
    margin-bottom: 10px;
}
#background {
    background: #99ccff;
}

#restartButtonParent {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 10px 10px;
} 

#jerry {
    width:auto;
	max-width:50%;
	height:auto;
}

#morty {
    width:auto;
	max-width:45%;
	height:auto;
}

#meeseeks {
    width:auto;
	max-width:45%;
	height:auto;
}

#squanch {
    width:auto;
	max-width:45%;
	height:auto;
}

#abradolf {
    width:auto;
	max-width:55%;
	height:auto;
}

#parasites {
    width:auto;
	max-width:95%;
	height:auto;    
}