.jumbotron {
    background: white;
    margin: 5% 10%;
    position: relative;
}

#h2 {
    font-family: 'Chivo';
}

.button {
    font-family: 'Chivo';
    margin-bottom: 10px;
}
#background {
    background: #99ccff;
}

 #restartButtonParent {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 10px 10px;
} 